.login{
  position: absolute;
  top : 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
}
.container{
  background-color: rgb(80, 85, 101);
  height: 800px;
}

.connect{
  position: absolute;
  top : 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
}
